@using Modum.Models.BaseModels.Models.FooterItems;
@model IEnumerable<BlogPost>

@{
    Layout = "~/Views/Shared/_WorkerLayout.cshtml";
}
<style>
    .blogs-doc-shower {
        height: 200px;
        background: linear-gradient(131deg, rgba(50,39,110,1) 3%, rgba(51,62,204,1) 22%, rgba(50,39,110,1) 100%);
    }

        .blogs-doc-shower:hover {
            height: 200px;
            box-shadow: 0px 0px 20px 11px;
        }

    #create-doc-btn {
        text-decoration: none;
        color: black;
    }

    #create-doc-btn {
        text-decoration: none;
        color: black;
    }
</style>
<div class="container mt-5">
    <div class="d-flex justify-content-center pb-3">
        <div class="text-center display-4 pb-5">Blogs Manager</div>
    </div>
    <div class="col pt-3">
        <div class="d-flex justify-content-center align-items-center" style="width:150px; height:200px;background-color:lightgray; font-size:100px;">
            <a id="create-doc-btn" asp-action="Create">+</a>
        </div>
        <span class="font-weight-bold d-block mt-3">Blank Document</span>
    </div>

    <hr class="my-4">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-6 mb-4">
                <div class="d-flex justify-content-center align-items-center display-2 p-3 blogs-doc-shower">
                    <a class="text-decoration-none text-dark" asp-action="EditDocument" asp-controller="Docs" asp-route-id="@item.Id">
                        @{
                            var srcLink = $"https://res.cloudinary.com/dzaicqbce/image/upload/v1695818842/main-image-for-blog-{item.Id}";
                        }
                        <img src="@srcLink" alt="📃" class="img-fluid rounded" style="height:225px;width:225px;">
                    </a>
                </div>

                <span class="font-weight-bold p-0 m-0 d-flex row justify-content-center mt-3">
                    @item.Title
                </span>
            </div>
        }
    </div>
</div>
