.navbar-brand img {
    max-width: 400px;
    max-height: 40px;
    margin-left: 15px;
}

@media (max-width: 576px) {
    .navbar-brand img {
        max-width: 80%; 
    }
    .navbar-nav {
        display: none;
    }
}
.show {
    display: block !important;
}

#footer-trademark {
    background-color: white;
    color: black;
}

#footer-main {
    color: white;
    background-color: black;
}

.footer-main-links {
    padding-left: 15px;
}

#header-bar {
    background: #F2E5D5;
}

.nav-link-custom {
    color: #F2F3F5;
    font-size: 1.2em;
    font-family: Noto Sans,Helvetica,Arial,sans-serif;
    font-weight: bold;
}

    .nav-link-custom:hover {
        color: black;
    }

    .nav-link-custom.active {
        color: black;
    }

.fontawesome-icons {
    width: 28px;
    height: 28px;
    margin-left: 12px;
}

.upload-input {
    position: relative;
    height: 150px;
}

    .upload-input input {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px dashed rgba(124,134,154,.25);
        text-indent: -9999px;
    }

    .upload-input .content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 30px;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .upload-input .plus-icon {
        height: 50px;
        width: 50px;
        color: #fff;
        background: #88888859;
        display: inline-block;
        line-height: 50px;
        font-size: 18px;
        border-radius: 5px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .upload-input:hover .plus-icon {
        background-color: #5830E0;
    }
.uploaded-image {
    height: 150px;
    width: 100%;
}
.swal2-container{
    z-index:10000 !important;
}