html {
    overflow-x: hidden !important;
}

#search-input {
    transition: width 0.3s;
    width: 8em;
    border-radius: 5px;
}

.filled {
    width: 14em !important;
}


.rotate {
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

    .rotate.down {
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

#search-link:hover {
    color: white !important;
}

.discounted-price {
    font-family: "Noto Serif",Georgia,Times New Roman,Times,serif;
    color: #D22B2B;
}

#cookie-consent-message {
    z-index: 1000;
}

#accordion .card {
    border: none;
}

.custom-section-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#accordion .card-header {
    background-color: transparent;
    border: none;
}


#search-form {
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.nav-item-image img {
    max-width: 1000px;
    max-height: 40px;
}

#footer-trademark {
    background-color: white;
    color: black;
}

#footer-main {
}

.footer-main-subheadings {
    padding: 1.3rem 0px;
    color: black;
}

.footer-main-subsections {
    padding-left: 3em;
}

.border-right-custom-footer {
    border-right: 1px solid #dee2e6 !important; /* Add your desired border style here */
}

.footer-main-links {
    padding-left: 15px;
    color: rgba(0,0,0,.7);
    font-size: 1.4rem;
    text-decoration: none;
}

    .footer-main-links:hover {
        color: black;
        text-decoration: none;
    }

#header-bar {
    background-color: white;
    box-shadow: 2px -6px 20px 20px white;
}

.hamburger-menu {
    padding-top: 3em;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
}

.close {
    font-size: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.hamburger-content {
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.nav-link-custom {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.nav-link-custom-mobile {
    color: black;
    font-weight: bold;
}

.nav-link-custom:hover {
    color: black;
}

#hamburger-menu-popup {
    display: none;
}

.nav-link-custom.active {
    color: black;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

    nav ul {
        list-style-type: none;
        padding: 0;
    }

        nav ul li {
            display: inline;
            margin: 0px 10px 0px 10px;
        }

.fa-2xl {
    font-size: 2.5rem;
}

.cart-badge {
    position: absolute;
    top: -10px;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 15px;
    height: 24px;
    width: 24px;
    text-align: center;
}

#undersection {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2E5D5;
    box-shadow: 5px 5px 5px grey;
    width: 100vw;
}



.hover-container {
    font-weight: 500;
    display: none;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #F2E5D5;
    color: black;
    text-align: center;
    z-index: 999;
}

    .hover-container h2 {
        font-size: 24px;
    }

    .hover-container p {
        font-size: 18px;
    }

    .hover-container .subheaders {
        font-weight: 600;
    }

.item {
    font-weight: 700;
    position: relative;
    font-size: 19px;
    font-family: Courier New, monospace !important;
    margin: 7px 0px;
    padding: 10px 25px 10px 0px;
    cursor: default;
    text-decoration: none;
}

    .item:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 7px;
    }

        .item:hover > .hover-container {
            display: block;
            animation: fadeIn 0.5s;
            -webkit-animation: fadeIn 0.5s;
            -moz-animation: fadeIn 0.5s;
            -o-animation: fadeIn 0.5s;
            -ms-animation: fadeIn 0.5s;
        }

#head-section {
    position: fixed;
    overflow: auto;
    top: 0;
    z-index: 1100;
    width: 100%
}

.hover-container a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

    .hover-container a:hover {
        text-decoration: none;
        color: inherit;
    }

.gender-section, .hover-container a {
    font-family: Courier New, monospace !important;
}

.mobile-menu .nav-item, .nav-link-custom-mobile {
    color: rgba(0,0,0,.7);
}

    .mobile-menu .nav-item:active {
        color: black;
    }

.nav-link:active {
    color: black;
}

.custom-subsection-desktop-item i {
    transition: transform 0.3s ease-in-out;
}

.custom-subsection-desktop-item:hover i {
    transform: translateX(10px);
}

.loading-container-blogs,
.loading-container-picker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.typewriter-text,
.typewriter-text-picker {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.15em;
    font-size: 5vw;
    text-align: center;
    color: white;
}

    .typewriter-text::after,
    .typewriter-text-picker::after {
        content: '|';
        animation: blink-caret 0.75s infinite;
        display: inline-block;
    }


.mobile-main-text-sections {
    color: darkgray;
    text-decoration: none !important;
    outline: none;
    border: none;
}

    .mobile-main-text-sections .icon {
        position: absolute;
        top: 50%;
        right: 2em;
        transform: translateY(-50%);
    }

        .mobile-main-text-sections .icon i {
            display: none;
        }

    .mobile-main-text-sections[aria-expanded="true"] .icon .fa-minus {
        display: inline;
    }

    .mobile-main-text-sections[aria-expanded="false"] .icon .fa-plus {
        display: inline;
    }

    .mobile-main-text-sections:hover {
        color: black;
        text-decoration: none !important;
    }

    .mobile-main-text-sections:focus {
        outline: none;
        border: none;
        box-shadow: none !important;
    }

    .mobile-main-text-sections.active {
        outline: none;
        border: none;
        box-shadow: none !important;
    }


@media screen and (max-width: 768px) {
    .typewriter-text, .typewriter-text-picker {
        font-size: 7vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media (min-width: 1010px) {
    #search-input:focus {
        width: 14em;
    }

    .desktop-menu {
        display: block;
    }

    .mobile-menu {
        display: none;
    }
}

@media (max-width: 1009px) {
    #search-input {
        width: 100%;
        margin-top: 10px;
    }

    .most-added-to-fav-text-container {
        font-size: 1.8rem;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .navbar-brand {
        padding: 0.5em 1rem !important
    }

        .navbar-brand img {
            width: 12rem;
        }

    .fontawesome-icons {
        color: black;
    }

    .footer-main-subsections {
        padding-left: 2rem;
    }
}

@media (max-width:1200px) {
    .nav-link-custom {
        font-size: 1.5rem;
    }
    .fa-2xl {
        font-size: 2rem;
    }
}
.bottom-container{
    display:none !important;
}