@using Modum.Models.BaseModels.Models.LTCs;
@using Modum.Models.BaseModels.Models.ProductStructure;
@using Modum.Models.ViewModels;
@model LTC
@{
    var hrefLink1 = "https://res.cloudinary.com/dzaicqbce/image/upload/v1694344569/image-for-ltc-" + Model.Id + ".png";
    Layout = "~/Views/Shared/_WorkerLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/css/custom/AddProduct.css")" rel="stylesheet" type="text/css" />
}

<div class="edit-ltc" >
    <div class="display-4 py-3 text-center col">Edit Campaign</div>

    <div class="row justify-content-around pt-5">
        <div class="col-md-3">
            <h2 class="pb-4 col text-center">Upload Image</h2>
            <div class="image-container" id="model-id" data-model-id="@Model.Id">
                <label class="form-label col text-center" for="ltc-image-1">Image:</label>
                <div class="upload-input">
                    <input type="file" id="ltc-image-1" name="ltc-image-1" class="image-upload" accept=".png, .jpg, .jpeg" multiple="multiple" max="1">
                    <img class="uploaded-image" src="@hrefLink1" />
                    <label for="ltc-image-1" class="text-center content">
                        <span class="text">
                            <span class="mb-2 plus-icon"><i class="fa fa-plus"></i></span>
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h2 class="mb-3 col text-center">Product Details</h2>

            <div class="row pt-4">
                <div class="col-12">
                    <label for="title-input-field">Title:</label>
                    <input id="title-input-field" type="text" placeholder="Enter title" value="@Model?.Title" class="form-control" />
                </div>
            </div>

            <div class="row pt-4">
                <div class="col-sm-6">
                    <label for="startdate-input-field">Start Date:</label>
                    <input type="datetime-local" id="startdate-input-field" value="@Model?.StartDate.ToString("yyyy-MM-ddTHH:mm")" class="form-control" />
                </div>
                <div class="col-sm-6">
                    <label for="enddate-input-field">End Date:</label>
                    <input type="datetime-local" id="enddate-input-field" value="@Model?.EndDate.ToString("yyyy-MM-ddTHH:mm")" class="form-control" />
                </div>
            </div>

            <hr class="my-4" />

            <div class="row">
                <div class="col-12">
                    <label for="discount-input-field">Discount Amount:</label>
                    <input id="discount-input-field" type="number" step="any" placeholder="Enter amount" class="form-control" value="@Model?.PercentageOfDiscount">
                </div>
            </div>

            <div class="row pt-4">
                <div class="col-md-6">
                    <label for="description-input-field">Description:</label>
                    <textarea id="description-input-field" type="text" placeholder="Enter description" class="form-control" rows="6">@Model?.Description</textarea>
                </div>
                <div class="col-md-6">
                    <label for="content-input-field">Content:</label>
                    <textarea id="content-input-field" type="text" placeholder="Enter content" class="form-control" rows="6">@Model?.Content</textarea>
                </div>
            </div>

            <hr class="my-4" />

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success btn-block btn-save" style="font-size: 1.5em;">
                        Save Product
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


