@using Modum.Models.BaseModels.Models.BaseStructure;
@model IEnumerable<MainCategory>

@{
    SelectList mainCategoryList = ViewBag.MainCategoryList;
    Layout = "~/Views/Shared/_WorkerLayout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/css/custom/ManageSubSelection.css")" rel="stylesheet" type="text/css" />
}
<div class="manage-sub-selections">
    <div class="row justify-content-center h1 pt-3">
        Manage Categories
    </div>
    <br />
    <div class="row justify-content-center align-items-center pb-3">
        <label class="h5">Select an existing Main Category to edit</label>
    </div>

    <div class="row mb-4 justify-content-center align-items-center">
        <div class="col-md-4">
            @Html.DropDownList("SelectedMainCategory", mainCategoryList, "-- Select existing main category --",
            new { @class = "form-control", id = "selectMainCategoryDropdownId" })
        </div>
    </div>

    <div class="card" id="mainCategoryTable" style="display: none;">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table category-table">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Subcategories</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="category-tbody">
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary" id="add-category-row-btn"><i class="fas fa-plus"></i> Add Category</button>
        </div>
    </div>

    <div class="d-flex mt-3 justify-content-center" style="display:none" id="save-btn-div-row">
        <button id="save-btn" class="btn btn-primary col-10">Save all changes</button>
    </div>
</div>
