@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
        <h1 class="text-danger d-flex align-items-center justify-content-center">@ViewData["Title"]</h1>
        <p class="text-danger d-flex align-items-center justify-content-center">You do not have access to this resource.</p>
</header>
