@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2 class="text-center" id="external-login-title">Welcome to Modum!</h2>
            <hr />

            <p id="external-login-description" class="text-info text-center">
                You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                Please enter your email address below and click the Confirm Registration button to complete the login process.
            </p>

            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email" class="form-label">Email address</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email." />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Confirm Registration</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
