@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container">
    <h1 class="d-flex align-items-center justify-content-center">@ViewData["Title"]</h1>
    <p class="d-flex align-items-center justify-content-center">
        Please check your email to reset your password.
    </p>
    <a id="forgot-password" asp-page="./ForgotPassword" class="d-flex align-items-center justify-content-center">Not receiving emails?</a>
</div>
