@using Modum.Models.ViewModels;
@model CartElementsCountViewModel

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <h1 class="display-4">Welcome to Modum</h1>
            <p class="lead">Your ultimate destination for fashionable clothing</p>
            <p>
                At Modum, we curate the latest trends and timeless classics to bring you a collection that
                celebrates individuality and style.
            </p>
            <p>
                Developed with passion by Vasil Orakov, Modum is more than just a clothing store; it's an
                experience tailored for fashion enthusiasts like you.
            </p>
            <p>
                Explore our diverse range of apparel and accessories that cater to every occasion, from casual
                wear to elegant evenings.
            </p>
            <p>
                Indulge in the world of Modum and elevate your wardrobe with pieces that speak to your unique
                taste.
            </p>
        </div>
    </div>
</div>