@using Modum.Models.ViewModels;
@model CartElementsCountViewModel
<div class="container mt-5 ">
    <h1 class="mb-4  text-center">Secure Online Payments with Stripe</h1>

    <p>
        At Modum, we prioritize the security of your transactions. Our online payment system is powered by
        <strong>Stripe</strong>, a trusted and secure payment gateway used by millions of businesses worldwide.
    </p>

    <h2 class="mt-4">Accepted Cards</h2>
    <p>
        We accept a variety of payment methods to make your shopping experience convenient. You can securely pay
        using major credit and debit cards, including:
    </p>
    <ul>
        <li>Visa</li>
        <li>Mastercard</li>
        <li>American Express (Amex)</li>
    </ul>

    <h2 class="mt-4">Why Stripe?</h2>
    <p>
        Stripe ensures the highest level of security for your payment information. When you make a purchase on Modum,
        your credit card details are encrypted and processed securely, providing you with peace of mind.
    </p>

    <h2 class="mt-4">How It Works</h2>
    <p>
        When you proceed to checkout, you'll have the option to pay securely using our online payment system. Simply
        enter your card details, and Stripe will handle the rest. Your information is never stored on our servers.
    </p>

    <p>
        If you have any questions or concerns about our online payment process, feel free to contact our
        customer support at <a href="/Footer/ContactUs">support@modum.com</a>.
    </p>

</div>