@using Modum.Models.ViewModels;
@model CartElementsCountViewModel
<div class="partnership-page">
    <div class="container ">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to Our Partnership Program!</h1>
            <p class="lead">
                We are actively seeking partnerships. If you are interested in collaborating or have any inquiries,
                please fill out the form below.
            </p>
        </div>

        <div class="row mt-5 justify-content-center">
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="bg-light p-4">
                    <h4>Contact Us</h4>
                    <form id="partnershipForm">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea class="form-control" id="message" rows="6" placeholder="Enter your message..." required></textarea>
                        </div>
                        <div class="h6 py-1 form-group">*you have to be registered in google with the provided email</div>
                        <button type="button" class="btn col btn-dark" id="receive-email-from-sponsor">Submit</button>
                    </form>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <img src="~/clothes-shop/images/others/3d-business-man-presenting-business-growth-illustration-png-removebg-preview.png" style="width:470px" class="img-fluid" alt="Business Illustration">
            </div>
        </div>
    </div>
    
</div>