<div class="container mt-5">
    <h1 class=" text-center">Privacy Policy</h1>
    <p class="text-center">
        At Modum, we take your privacy seriously. This Privacy Policy explains how we collect, use, disclose,
        and protect your personal information when you visit our website.
    </p>

    <h2 class="mt-4">1. Information We Collect</h2>
    <p>
        We may collect personal information, including but not limited to, your name, email address, and other
        details when you voluntarily provide them to us through our website forms.
    </p>

    <h2 class="mt-4">2. How We Use Your Information</h2>
    <p>We use the information we collect for the following purposes:</p>
    <ul>
        <li>To communicate with you and respond to your inquiries</li>
        <li>To improve and personalize your experience on our website</li>
        <li>To send periodic emails with updates and promotions</li>
    </ul>

    <h2 class="mt-4">3. Disclosure of Your Information</h2>
    <p>We do not sell, trade, or otherwise transfer your personal information to outside parties.</p>

    <h2 class="mt-4">4. Data Security</h2>
    <p>We implement security measures to protect your personal information and ensure its confidentiality.</p>

    <h2 class="mt-4">5. Your Consent</h2>
    <p>By using our website, you consent to our Privacy Policy.</p>

    <p>This Privacy Policy is effective as of 17.01.2024.</p>
</div>