@using Modum.Models.ViewModels;
@model CartElementsCountViewModel
<div class="container mt-5">
    <h1 class="mb-4 text-center">Return Policy</h1>

    <p>
        We want you to be satisfied with your purchase from Modum. If you need to return an item, please follow
        our return policy below:
    </p>

    <h2 class="mt-4">1. Eligibility for Returns</h2>
    <p>
        To be eligible for a return, your item must be unused and in the same condition that you received it.
        It must also be in the original packaging.
    </p>

    <h2 class="mt-4">2. Time Frame</h2>
    <p>
        You have 30 days from the date of purchase to initiate a return. After 30 days, unfortunately, we
        cannot offer you a refund or exchange.
    </p>

    <h2 class="mt-4">3. How to Initiate a Return</h2>
    <p>
        To initiate a return, please follow these steps:
    </p>
    <ol>
        <li>Ensure your item meets the eligibility criteria mentioned above.</li>
        <li>Contact our customer support at support@modum.com with your order number and reason for the return.</li>
        <li>Wait for further instructions and shipping details from our support team.</li>
        <li>Package the item securely, including a copy of your order confirmation, and ship it to the provided address.</li>
    </ol>

    <h2 class="mt-4">4. Refund Process</h2>
    <p>
        Once your return is received and inspected, we will send you an email to notify you that we have received
        your returned item. We will also notify you of the approval or rejection of your refund.
    </p>

    <h2 class="mt-4">5. Contact Us</h2>
    <p>
        If you have any questions about our return policy, please contact us at <a href="/Footer/ContactUs">support@modum.com</a>.
    </p>
</div>