@using Modum.Models.ViewModels;
@model CartElementsCountViewModel

<div class="container mt-5 pt-5">
    <h1 class="mb-4 text-center">Modum - Terms and Conditions</h1>
    <p class="text-center">
        Welcome to Modum. These terms and conditions outline the rules and regulations for the use of Modum's
        Website.
    </p>

    <h2 class="mt-4">1. Acceptance of Terms</h2>
    <p>
        By accessing this website, you agree to be bound by these website Terms and Conditions of Use, all
        applicable laws, and regulations, and agree that you are responsible for compliance with any applicable
        local laws.
    </p>

    <h2 class="mt-4">2. Use License</h2>
    <p>
        Permission is granted to temporarily download one copy of the materials (information or software) on
        Modum's website for personal, non-commercial transitory viewing only.
    </p>

    <h2 class="mt-4">3. Disclaimer</h2>
    <p>
        The materials on Modum's website are provided on an 'as is' basis. Modum makes no warranties, expressed
        or implied, and hereby disclaims and negates all other warranties including, without limitation, implied
        warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of
        intellectual property or other violation of rights.
    </p>

    <h2 class="mt-4">4. Privacy Policy</h2>
    <p>
        Modum values your privacy. Our Privacy Policy outlines how we collect, use, disclose, and manage your
        personal information. By using our website, you agree to the terms outlined in our Privacy Policy.
    </p>

    <h2 class="mt-4">5. Governing Law</h2>
    <p>
        These terms and conditions are governed by and construed in accordance with the laws of [Your Country],
        and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
    </p>

    <p>
        By using this website, you signify your acceptance of these terms. If you do not agree to these terms,
        please do not use our website.
    </p>

    <p>Last updated: 11/12/2023</p>
</div>