<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modum</title>
    <link rel="stylesheet" type="text/css" href="~/css/custom/CustomAdminLayout.css">
    <link rel="stylesheet" type="text/css" href="~/css/custom/AllViews.css">
    <!-- FONTS -->
    <link rel="stylesheet" href="~/clothes-shop/fonts/flaticon/flaticon.css">
    <link rel="shortcut icon" type="x-icon" href="~/clothes-shop/images/logos/modum-transparent2-removebg-preview.png" />
    <script type="text/javascript" src="https://kit.fontawesome.com/47edf10d0e.js"></script>
    <!-- VENDOR -->
    <link rel="stylesheet" href="~/clothes-shop/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <!--ALERTS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" id="header-bar">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="GenderCallTemplate" asp-route-category="Women">
                    <img src="~/clothes-shop/images/logos/modum-transparent2-removebg-preview.png" class="logo-img" />
                </a>
                <a class="btn d-lg-none" id="hamburger-menu">
                    <span class="navbar-toggler-icon"></span>
                </a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav"> 
                        @if (User.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin") || User.IsInRole("Admin")))
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-link-custom" asp-area="" asp-controller="Admin" asp-action="ManageUsers">
                                    Users
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom" asp-area="" asp-controller="Admin" asp-action="StripePaymentOrders">
                                Stripe
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom" asp-area="" asp-controller="Admin" asp-action="ManageWorkers">
                                Workers
                            </a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link nav-link-custom" asp-area="" asp-controller="Admin" asp-action="ApplicationStatistics">
                                Statistics
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/clothes-shop/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/clothes-shop/js/vendor/popper.min.js"></script>
    <script src="~/clothes-shop/js/vendor/bootstrap.min.js"></script>
    <script src="~/clothes-shop/js/vendor/slick.min.js"></script>
    <script src="~/clothes-shop/js/adminLayout.js"></script>
    <!-- COMMON -->
    <script src="~/clothes-shop/js/common.js"></script>
    <!-- CUSTOM -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="~/clothes-shop/js/custom/layoutsPanel.js"></script>

    <script type="text/javascript">
        $(function () {
            manageUsersPage.init($('.manage-users'));
            manageWorkersPage.init($('.manage-workers'));
            stripePaymentOrdersPage.init($('.stripe-payment-orders-page'));
        });
    </script>
    <!--ALERT-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>

    <!--TinyMCE-->
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
