<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modum</title>
    <link rel="stylesheet" type="text/css" href="~/css/custom/CustomAdminLayout.css">
    <link rel="stylesheet" type="text/css" href="~/css/custom/AllViews.css">
    <!-- FONTS -->
    <link rel="stylesheet" href="~/clothes-shop/fonts/flaticon/flaticon.css">
    <link rel="shortcut icon" type="x-icon" href="~/clothes-shop/images/logos/modum-transparent2-removebg-preview.png" />
    <script type="text/javascript" src="https://kit.fontawesome.com/47edf10d0e.js"></script>
    <!-- VENDOR -->
    <link rel="stylesheet" href="~/clothes-shop/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <!--ALERTS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!--TinyMCE-->
    <script src="https://cdn.tiny.cloud/1/zax6pbh3xd7v8fm39f9ehvlzd88h6i2upqoyom0yb0rzheob/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        })
    </script>
    @RenderSection("Styles", false)
</head>
<body>
    <div class="d-flex">
        @{
            var userRole = "";
            if (User.IsInRole("Worker"))
            {
                userRole = "Worker";
            }
            if (User.IsInRole("Admin"))
            {
                userRole = "Admin";
            }
            if (User.IsInRole("SuperAdmin"))
            {
                userRole = "SuperAdmin";
            }
        }
        <nav class="navbar-dark">
            <a class="btn text-center align-self-center d-lg-none" id="hamburger-menu-custom">
                <i class="fas fa-bars fa-xl"></i>
                <i class="fas fa-times fa-xl"></i>
            </a>
            <div class="sticky-sidebar col pt-5 d-none d-lg-none" id="sidebar-mobile">
                <ul class="nav flex-column">
                    <li class="nav-item" style="font-size:1.1em; font-weight:700; color:white">
                        Modum Admin
                        <hr style="border-top: 1px solid white;" />
                    </li>
                    <li class="nav-item" style="font-size:1.2em;  font-weight:700; color:white">
                        Your role: &nbsp; <span style="color:red;">@userRole</span>
                        <hr style="border-top: 1px solid white;" />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item nav-link-custom px-0 mx-0" id="products-page" asp-area="" asp-controller="Worker" asp-action="ManageProducts">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item nav-link-custom px-0 mx-0" id="section-page" asp-area="" asp-controller="Worker" asp-action="ManageSubSelection">
                            Sub-Selection
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item nav-link-custom px-0 mx-0" id="ltc-page" asp-area="" asp-controller="Worker" asp-action="ManageLTCs">
                            LTCs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item nav-link-custom px-0 mx-0" id="posts-page" asp-area="" asp-controller="Docs" asp-action="DocsShower">
                            Blogs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item nav-link-custom px-0 mx-0" id="orders-page" asp-area="" asp-controller="Worker" asp-action="ManageOrders">
                            Orders
                        </a>
                    </li>
                    @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom px-0 mx-0" id="users-page" asp-area="" asp-controller="Admin" asp-action="ManageUsers">
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom px-0 mx-0" id="stripe-page" asp-area="" asp-controller="Admin" asp-action="StripePaymentOrders">
                                Stripe
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom px-0 mx-0" id="workers-page" asp-area="" asp-controller="Admin" asp-action="ManageWorkers">
                                Workers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom px-0 mx-0" id="statistics-page" asp-area="" asp-controller="Admin" asp-action="ApplicationStatistics">
                                Statistics
                            </a>
                        </li>
                    }
                    <li class="nav-item" style="font-size:1.1em; font-weight:700; color:white">
                        <a class="nav-link nav-link-custom px-0 mx-0" asp-controller="Home" asp-action="">
                            <i class="fa-solid fa-house"></i>&nbsp;Home
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sticky-sidebar col pt-5 d-none d-lg-block" id="sidebar-desktop">
                <ul class="nav flex-column">
                    <li class="nav-item" style="font-size:1.1em; font-weight:700; color:white">
                        Modum Admin
                        <hr style="border-top: 1px solid white;" />
                    </li>
                    <li class="nav-item" style="font-size:1.2em;  font-weight:700; color:white">
                        Your role: &nbsp; <span style="color:red;">@userRole</span>
                        <hr style="border-top: 1px solid white;" />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item nav-link-custom px-0 mx-0" id="products-page" asp-area="" asp-controller="Worker" asp-action="ManageProducts">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item nav-link-custom px-0 mx-0" id="section-page" asp-area="" asp-controller="Worker" asp-action="ManageSubSelection">
                            Sub-Selection
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item nav-link-custom px-0 mx-0" id="ltc-page" asp-area="" asp-controller="Worker" asp-action="ManageLTCs">
                            LTCs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item nav-link-custom px-0 mx-0" id="posts-page" asp-area="" asp-controller="Docs" asp-action="DocsShower">
                            Blogs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item nav-link-custom px-0 mx-0" id="orders-page" asp-area="" asp-controller="Worker" asp-action="ManageOrders">
                            Orders
                        </a>
                    </li>
                    @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom px-0 mx-0" id="users-page" asp-area="" asp-controller="Admin" asp-action="ManageUsers">
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom px-0 mx-0" id="stripe-page" asp-area="" asp-controller="Admin" asp-action="StripePaymentOrders">
                                Stripe
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom px-0 mx-0" id="workers-page" asp-area="" asp-controller="Admin" asp-action="ManageWorkers">
                                Workers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-custom px-0 mx-0" id="statistics-page" asp-area="" asp-controller="Admin" asp-action="ApplicationStatistics">
                                Statistics
                            </a>
                        </li>
                    }
                    <li class="nav-item" style="font-size:1.1em; font-weight:700; color:white">
                        <a class="nav-link nav-link-custom px-0 mx-0" asp-controller="Home" asp-action="">
                            <i class="fa-solid fa-house"></i>&nbsp;Home
                        </a>
                    </li>
                </ul>
            </div>  
        </nav>
        <div class="overlay"></div>
        <div class="main-content col-md-12 d-lg-flex justify-content-lg-center col-lg-11 pt-5 px-4">
            <main role="main" class="col-md-12 px-0">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/clothes-shop/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/clothes-shop/js/vendor/popper.min.js"></script>
    <script src="~/clothes-shop/js/vendor/bootstrap.min.js"></script>
    <script src="~/clothes-shop/js/vendor/slick.min.js"></script>
    <script src="~/clothes-shop/js/workerLayout.js"></script>
    <script src="~/clothes-shop/js/adminLayout.js"></script>

    <!-- COMMON -->
    <script src="~/clothes-shop/js/common.js"></script>
    <!-- CUSTOM -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="~/clothes-shop/js/custom/layoutsPanel.js"></script>

    <script type="text/javascript">
        $(function () {
            addLtc.init($('.add-ltc'));
            addProductPage.init($('.add-product'));
            editLtc.init($('.edit-ltc'));
            editProductPage.init($('.edit-product'));
            manageLtcs.init($('.manage-ltcs'));
            manageProductsPage.init($('.manage-products'));
            manageSubSelectionsPage.init($('.manage-sub-selections'));
            createDocumentPage.init($('.create-document-page'));
            editDocumentPage.init($('.edit-document-page'));
            manageOrders.init($('.manage-orders'));
            manageUsersPage.init($('.manage-users'));
            manageWorkersPage.init($('.manage-workers'));
            stripePaymentOrdersPage.init($('.stripe-payment-orders-page'));
        });
    </script>
    <!--ALERT-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
